:root{
    --main-color1:#FFB50C;
    --main-color2:#2b2b2b;
    --main-color3: #FFFFFF;
    --text-color1:#000000;
    --text-color2:rgba(0, 0, 0, 0.85);
    --text-color3:rgba(0, 0, 0, 0.58);
    --hover-color: #ffc642;
    --swiper-theme-color: #FFB50C;
    --swiper-pagination-bullet-size: 11px;
    --swiper-pagination-bullet-inactive-color: rgb(217, 217, 217);
    --swiper-pagination-bullet-inactive-opacity: 0.5;

    


    --font-style1:'Roboto', sans-serif;
    --font-style2:'Roboto Condensed', sans-serif;

}